.stat-card {
  transition: transform 0.3s ease;
  
  &:hover {
    transform: translateY(-5px);
  }
}

.stat-icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Clase para reemplazar atributos y estilos de la imagen */
.course-thumb {
  width: 80px;
  height: 60px;
  object-fit: cover;
}

.min-vh-100 {
  min-height: 100vh;
}